<?xml version="1.0"?>
<assembly>
  <!-- see http://maven.apache.org/plugins/maven-assembly-plugin/assembly.html -->
  <id>plugin</id>
  <formats>
    <format>jar</format>
  </formats>
  <containerDescriptorHandlers>
    <containerDescriptorHandler>
      <handlerName>message-digest-md5</handlerName>
      <configuration>
        <checksumFile>MD5SUM</checksumFile>
        <exclusionRegex>(MD5SUM|SHA256SUM)</exclusionRegex>
      </configuration>
    </containerDescriptorHandler>
    <containerDescriptorHandler>
      <handlerName>message-digest-sha-2-256</handlerName>
      <configuration>
        <checksumFile>SHA256SUM</checksumFile>
        <exclusionRegex>(MD5SUM|SHA256SUM)</exclusionRegex>
      </configuration>
    </containerDescriptorHandler>
  </containerDescriptorHandlers>
  <includeBaseDirectory>false</includeBaseDirectory>
  <fileSets>
    <fileSet>
      <directory></directory>
      <outputDirectory></outputDirectory>
      <includes>
        <include>README.md</include>
        <include>MAINTAINERS.md</include>
        <include>LICENSE.md</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>target/classes/</directory>
      <outputDirectory></outputDirectory>
    </fileSet>
  </fileSets>
  <dependencySets>
    <dependencySet>
      <outputDirectory>/lib</outputDirectory>
      <unpack>false</unpack>
      <scope>runtime</scope>
      <useProjectArtifact>false</useProjectArtifact>
    </dependencySet>
  </dependencySets>
</assembly>
